:root {
  --background-color: white;
  --text-color: #222222;
  --link-color: #0066cc;
  --link-color--visited: 
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
}

h1,
h2,
h3,
h4 {
  font-family: 'Fira Mono', serif;
}

h3 a {
  font-family: 'Fira Sans', serif;
}

h1 {
  font-size: 4em;
  margin-block-start: .3em;
  margin-block-end: .3em;
  position: relative;
  left: -4px;
}

h2 {
  font-size: 2.5em;
  margin-top: .5em;
  margin-bottom: .5em;
}

p,
a {
  font-family: 'Fira Sans', sans-serif;
}

.play {
  font-size: 2em;
  margin: 0;
}

.play a {
  text-decoration: none;
}

.content {
  max-width: 49rem;
  margin-left: auto;
  margin-right: auto;
}

.episode-list {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.episode p {
  margin-bottom: 0;
}

.description p:last-of-type {
  margin-bottom: revert;
}

.episode ul {
  margin-top: 0;
}

.episode br {
  display: none;
}

.episode__title {
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-style: italic;
  font-weight: 700;
  line-height: 36px;
}

.episode__description {
  font-family: Fira Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 155.5%;
}

hr {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #2e2e2e;
    --text-color: white;
    --link-color: #1988f7;
  }
}