body {
  background-color: #fffdfa;
}

h1, h2, h3, h4 {
  font-family: 'Playfair', serif;
}

h1 {
  font-size: 4em;
  margin-block-start: .3em;
  margin-block-end: .3em;
  position: relative;
  left: -4px;
}

h2 {
  margin-top: .5em;
  margin-bottom: .5em;
}

p {
  font-family: 'Wix Madefor Display', sans-serif;
}

.play {
  font-size: 2em;
  margin: 0;
}

.play a {
  text-decoration: none;
}

.content {
  max-width: 49rem;
  margin-left: auto;
  margin-right: auto;
}

.episode p {
  margin-bottom: 0;
}

.description p:last-of-type {
  margin-bottom: revert;
}

.episode ul {
  margin-top: 0;
}

.episode br {
  display: none;
}